<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Order</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Create New Order</h2>
    <form th:action="@{/order/create}" method="post">
        <div class="form-group">
            <label>Author Name:</label>
            <input type="text" name="author" class="form-control" placeholder="Enter your name" required>
        </div>
        <button type="submit" class="btn btn-primary">Create Order</button>
    </form>
</div>
</body>
</html>